<%- include("partials/header") %>
<div class="container">
    <header class="jumbotron">
        <h1>This is the Campgrounds Page</h1>
    </header>
    <h2>View all campgrounds</h2>
    <a href="/campgrounds">Here is the link to campgrounds page</a>
</div>
<%- include("partials/footer") %>
